.cajaCardContacto {
  opacity: 0;
  transform: translateX(-100px);
  animation: aparecer 0.8s ease forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.cardContacto {
  transition: all 0.9s ease;
  background-color: transparent;
  border-radius: 10px;
  padding: 1rem;
}

.cardContacto:hover {
  background-color: rgba(25, 135, 84, 0.15); 
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(25, 135, 84, 0.35);
}
